<div id="home" class="flex-row absolute inset-0 h-fit bg-black">
    <nav class="font-mono font-light p-4 text-lg space-x-6 text-white">
        <span>
            <%= link_to "Home", root_path(anchor: 'home'), class: "relative after:absolute after:bottom-0 after:left-0 after:right-0 after:h-[2px] after:w-full after:origin-bottom after:scale-x-0 after:bg-neutral-800 after:transition-transform after:duration-300 after:ease-[cubic-bezier(0.65_0.05_0.36_1)] hover:after:origin-bottom hover:after:scale-x-100" %>
        </span>
        <span>
            <%= link_to "Services", root_path(anchor: 'services'), class: "relative after:absolute after:bottom-0 after:left-0 after:right-0 after:h-[2px] after:w-full after:origin-bottom after:scale-x-0 after:bg-neutral-800 after:transition-transform after:duration-300 after:ease-[cubic-bezier(0.65_0.05_0.36_1)] hover:after:origin-bottom hover:after:scale-x-100" %>
        </span>
        <span>
            <%= link_to "Contact Us", root_path(anchor: 'contact'), class: "relative after:absolute after:bottom-0 after:left-0 after:right-0 after:h-[2px] after:w-full after:origin-bottom after:scale-x-0 after:bg-neutral-800 after:transition-transform after:duration-300 after:ease-[cubic-bezier(0.65_0.05_0.36_1)] hover:after:origin-bottom hover:after:scale-x-100" %>
        </span>
        <span class="float-right text-black px-5 font-medium">
            <% if user_signed_in? %>
                <%= link_to "Dashboard", '#', class: "text-white" %>
                <%= link_to "Logout", destroy_user_session_path, data: { turbo_method: :delete }, class: "px-4 m-2 py-1 bg-white rounded-xl hover:bg-gray-300" %>
            <% else %>
                <%= link_to "Login/Sign up", new_user_session_path, class: "text-white" %>
            <% end %>
        </span>
    </nav>
</div>